@import "tailwindcss";

@theme {
  --color-primary: #0C969C; /* aqua */
  --color-secondary: #032F30; /* dark teal */
  --color-accent: #6BA3BE; /* soft blue */
  --color-background: #F9F6F3; /* neutral light background for readability */
}

:root {
  color-scheme: light;
}

html, body, #root {
  height: 100%;
}

body {
  background: var(--color-background);
}